body {
  font-family: sans-serif;
}

header {
  margin-bottom: 20px;
}

img {
  width: 100px;
}

h1 {
  font-size: 2em;
}

main {
  width: 500px;
  margin: 0 auto;
}

section {
  margin-bottom: 20px;
}

h2 {
  font-size: 1.5em;
}

a {
  color: blue;
  text-decoration: none;
}

footer {
  text-align: center;
  margin-top: 20px;
}
